@import '@styles/breakpoints.scss';

.title {
  font-size: 12px; // Default font size for small screens
  color: white;
  font-weight: 900;
  margin-bottom: 3%;

  @include laptop {
    font-size: 12px; // Laptop and above: already covered by default
  }

  @include largeContainer {
    font-size: 32px; // LargeContainer and above
  }

  @include ultraHD {
    font-size: 16px; // UltraHD and above
  }

  @include eightK {
    font-size: 32px; // EightK and above (overrides previous values)
  }
}
