@import '@styles/breakpoints.scss';

.title {
  position: sticky;
  font-size: 12px; // Default font size for small screens
  color: white;
  font-weight: 700;
  font-family: Poppins;
  white-space: break-spaces;

  margin-bottom: 3%;

  @include laptop {
    font-size: 12px; // Laptop and above: already covered by default
  }

  @include largeContainer {
    font-size: 40px; // LargeContainer and above
  }

  @include ultraHD {
    font-size: 40px; // UltraHD and above
  }

  @include eightK {
    font-size: 40px; // EightK and above (overrides previous values)
  }
}
